@import "../Styles/Root.scss";

.Accordion {
    .title {
        /*background-color: $colorAccent;*/
        cursor: pointer;
        font-weight: bold;
        position: relative;
        line-height: 1rem;
        border-radius: .5rem;

        &:before {
            content: "stat_minus_1";
            font-family: "Material Symbols Rounded";
            position: absolute;
            right: .5rem;
            top: .5rem;
            bottom: .5rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-property: transform;
        }
    }

    .content {
        overflow: hidden;
        height: 0;
    }

    &.open {
        .title {

            &:before {
                transform: rotate(180deg);
            }
        }

        .content {
            height: auto;
        }
    }
}
