<div class="BadgeContainer">
	@ChildContent
	<div class="Badge @(HideBadge ? "hidden" : null) @(BadgeAnchor.ToString()) @(Color.ToString())">@Text</div>
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string Text { get; set; } = string.Empty;

	[Parameter]
	public bool HideBadge { get; set; }

	[Parameter]
	public BadgeAnchor BadgeAnchor { get; set; } = BadgeAnchor.TopRight;

	[Parameter]
	public Color Color { get; set; } = Color.Error;
}
