@import "../Styles/Root.scss";

.Chip {
    padding: .25rem .25rem;
    border-radius: $spacing / 4;
    line-height: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    gap: .25rem;
    background-color: $colorAccent;
    color: $colorFontDark;
    /*color: hsl(from $colorAccent h s calc(l + 40));*/

    $colors: ( "error": $colorError, "warning": $colorWarning, "info": $colorInfo,"success": $colorSuccess, );

    @each $name, $color in $colors {
        &.#{$name} {
            background-color: $color;
            color: $colorFontDark;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    .icon {
        font-family: "Material Symbols Rounded";
        font-size: 1em;
    }
}
