@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using Blazura.Components.ColumnWrapperItems
@using System.ComponentModel.DataAnnotations
@typeparam T

<Modal2 @ref="modal">
    <VStack>
        <h1>Confirm deletion</h1>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            @:Are you sure you want to do this?
        }
        @if (Prompt is not null)
        {
            <div>
                To confirm, please write <code>@Prompt(Item)</code> below
            </div>
            <div>
                <Placeholder For="() => promptResponse">
                    <input @bind="promptResponse" @bind:event="oninput" />
                </Placeholder>
            </div>
        }
        <HStack>
            <StackWeight>
                <SimpleButton Style="Style.Outline" @onclick="modal.Close">Cancel</SimpleButton>
            </StackWeight>
            <StackWeight Weight="2">
                <SimpleButton Color="Color.Error" Type="ButtonType.Button" @onclick="Submit" Disabled="@(Prompt is not null ? Prompt(Item) != promptResponse : false)">Confirm</SimpleButton>
            </StackWeight>
        </HStack>
    </VStack>
</Modal2>

@code {
    [Parameter, EditorRequired]
    public required T Item { get; set; }

    [Parameter]
    public Func<T, string>? Prompt { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<T> OnSubmit { get; set; }

    [Parameter]
    public required RenderFragment? ChildContent { get; set; }

    private Modal2 modal = default!;

    [Display(Name = "Prompt")]
    private string promptResponse { get; set; } = string.Empty;

    public async Task Open()
    {
        promptResponse = string.Empty;
        modal.Open();
    }

    public void Close()
    {
        modal.Close();
    }

    public void Dispose()
    {
        modal.Dispose();
    }

    public void Submit()
    {
        OnSubmit.InvokeAsync(Item);
        Close();
    }
}
