@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@foreach (var renderFragment in renderFragments)
{
    <div class="DrawerBackdrop" @onclick="() => Close(renderFragment.Key)"></div>
    <div class="Drawer">
        @renderFragment
    </div>
}

@code {
    [CascadingParameter] private Backdrop backdrop { get; set; } = default!;
    private Dictionary<RenderFragment, bool> renderFragments = [];

    public void Open(RenderFragment renderFragment)
    {
        foreach (var renderFragmentToDelete in renderFragments.Where(rf => rf.Value))
        {
            renderFragments.Remove(renderFragmentToDelete.Key);
        }
        if (renderFragments.ContainsKey(renderFragment))
        {
            renderFragments[renderFragment] = false;
        }
        else
        {
            renderFragments.Add(renderFragment, false);
        }
        StateHasChanged();
        RunBodyCheck();
    }

    public void Close(RenderFragment renderFragment)
    {
        renderFragments[renderFragment] = true;
        StateHasChanged();
        RunBodyCheck();
    }

    public void RunBodyCheck()
    {
        backdrop.SetBackdrop(this.GetType(), renderFragments.Any(rf => !rf.Value));
    }
}
