@typeparam T where T : IPath

<div class="FileCollection">
	@foreach (T file in Items)
	{
		string extension = Path.GetExtension(file.Path.ToLower());
		<div class="fileSpot @(itemDragging is not null ? "isDragging" : null)">
			@if (OnUpload is { HasDelegate: true })
			{
				<div class="remove" @onclick="() => PromptDeletion(file)">
					<div class="icon">delete_forever</div>
				</div>
			}
			<div class="preview" @onclick="() => OnClick(file)" dropzone="move" draggable="@(OnRearranged is { HasDelegate: true } ? "true" : "false")" @ondragstart="() => OnDragStart(file)" @ondragend="OnDragEnd" @ondragenter="() => OnDragEnter(file)" ondragover="event.preventDefault();">
				@if (imageExtensions.Contains(extension))
				{
					<img class="AdaptiveImage" src="@file.Path" />
				}
				else if (videoExtensions.Contains(extension))
				{
					<div class="icon">movie</div>
				}
				else
				{
					<div class="icon">draft</div>
				}
			</div>
		</div>
	}
	@if (OnUpload is { HasDelegate: true })
	{
		<label>
			<InputFile OnChange="HandleUploadedFiles" multiple />
			<div class="addFile RippleEffect" tabindex="0">
				<div class="icon" dropzone="true">add_photo_alternate</div>
			</div>
		</label>
	}
</div>

<DeleteModal @ref="deleteModal" T="T" OnSubmit="(file) => Delete(file)" />

@code {
	[Parameter, EditorRequired]
	public required List<T> Items { get; set; }

	[Parameter]
	public required EventCallback<List<T>> OnRearranged { get; set; }

	[Parameter]
	public EventCallback<IReadOnlyList<IBrowserFile>> OnUpload { get; set; } = default!;

	[Parameter]
	public EventCallback<T> OnDelete { get; set; }

	[CascadingParameter]
	private Lightbox? fileViewer { get; set; }

	private string[] videoExtensions = [".mp4"];

	private string[] imageExtensions = [".jpg", ".jpeg", ".png", ".gif"];

	private T? itemDragging;

	private void OnDragStart(T item) => itemDragging = item;

	private DeleteModal<T> deleteModal = default!;

	private void OnClick(T item)
	{
		fileViewer?.Open(item, Items.Cast<IPath>());
	}

	private void OnDragEnter(T item)
	{
		if (itemDragging is null) return;
		if (itemDragging.Equals(item)) return;

		int index = Items.IndexOf(item);
		if (index >= 0)
		{
			Items.Remove(itemDragging);
			Items.Insert(index, itemDragging);
		}
	}

	private async Task OnDragEnd()
	{
		itemDragging = default;
		await OnRearranged.InvokeAsync(Items);
	}

	private async Task HandleUploadedFiles(InputFileChangeEventArgs e)
	{
        await OnUpload.InvokeAsync(e.GetMultipleFiles(e.FileCount));
	}

	private async Task PromptDeletion(T file)
	{
		await deleteModal.Open(file);
	}

	private async Task Delete(T file)
	{
		await OnDelete.InvokeAsync(file);
	}
}
