.Flexer {
	display: flex;
	align-items: center;
	gap: 1rem;

	&.right {
		justify-content: end;
	}

	&.spacebetween {
		justify-content: space-between;
	}

	&.center {
		justify-content: center;
	}

	&.top {
		align-items: start;
	}

	&.middle {
		align-items: center;
	}

	&.bottom {
		align-items: end;
	}

	&.stretch {
		align-items: stretch;
	}

	&.evenFill {
		> * {
			flex: 1;
		}
	}

	&.noGap {
		gap: unset;
	}
}
