<div class="Gapper @(Sizing.ToString()) @(Direction.ToString())">
	@ChildContent
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public Sizing Sizing { get; set; } = Sizing.Md;

	[Parameter]
	public Direction Direction { get; set; } = Direction.Vertical;
}
