<div class="HStack @(Sizing.ToString()) @(HeightAlignment.ToString()) StackBehaviour@(StackBehaviour.ToString())">
	@ChildContent
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public Sizing Sizing { get; set; } = Sizing.Md;

	[Parameter]
	public HeightAlignment HeightAlignment { get; set; } = HeightAlignment.Stretch;

	[Parameter]
	public StackBehaviour StackBehaviour { get; set; } = StackBehaviour.Left;
}
