@import "../Styles/Root.scss";

.HStack {
    display: flex;
    flex-direction: row;
    // Gap
    &.None {
        gap: unset;
    }

    &.Xxs {
        gap: $spacing2;
    }

    &.Xs {
        gap: $spacing2 * 2;
    }

    &.Sm {
        gap: $spacing2 * 3;
    }

    &.Md {
        gap: $spacing2 * 4;
    }

    &.Lg {
        gap: $spacing2 * 8;
    }

    &.Xl {
        gap: $spacing2 * 12;
    }

    &.Xxl {
        gap: $spacing2 * 16;
    }
    // HeightAlignment
    &.Top {
        align-items: flex-start;
    }

    &.Center {
        align-items: center;
    }

    &.Bottom {
        align-items: flex-end;
    }

    &.Stretch {
        align-items: stretch;
    }
    // StackBehaviour
    &.StackBehaviourLeft {
        justify-content: flex-start;
    }

    &.StackBehaviourCenter {
        justify-content: center;
    }

    &.StackBehaviourRight {
        justify-content: flex-end;
    }

    &.StackBehaviourSeperate {
        justify-content: space-between;
    }
    // Default
    > * {
        flex: 1;
    }
}
