@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@foreach (var modal in registeredModals)
{
    <div class="ModalBackdrop @(modal.IsOpen ? "opened" : "closed")" @onclick="() => modal.Close()"></div>
    <div class="Modal @(modal.IsOpen ? "opened" : "closed")">
        <div class="positionContainer">
            <div class="ModalScreen" @onclick="() => modal.Close()"></div>
            <div class="containerz tiny">
                <div class="window">
                    <Paper>
                        <div class="boxSpacer">
                            @modal.ChildContent
                        </div>
                    </Paper>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter] private Backdrop backdrop { get; set; } = default!;

    private HashSet<Modal> registeredModals = [];

    internal void Register(Modal modal)
    {
        registeredModals.Add(modal);
    }

    internal void Unregister(Modal modal)
    {
        registeredModals.Remove(modal);
        StateHasChanged();
        RunBackdropCheck();
    }

    internal async Task TriggerRender()
    {
        await InvokeAsync(StateHasChanged);
    }

    internal void RunBackdropCheck()
    {
        backdrop.SetBackdrop(this.GetType(), registeredModals.Any(m => m.IsOpen));
    }
}
