@import "../Styles/Root.scss";

.Pad {
    &.Xxs {
        --spacing: #{$spacing * .25};
    }

    &.Xs {
        --spacing: #{$spacing * .5};
    }

    &.Sm {
        --spacing: #{$spacing * .75};
    }

    &.Md {
        --spacing: #{$spacing};
    }

    &.Lg {
        --spacing: #{$spacing * 2};
    }

    &.Xl {
        --spacing: #{$spacing * 3};
    }

    &.Xxl {
        --spacing: #{$spacing * 4};
    }

    &.Top {
        padding-top: var(--spacing);
    }

    &.Bottom {
        padding-bottom: var(--spacing);
    }

    &.Left {
        padding-left: var(--spacing);
    }

    &.Right {
        padding-right: var(--spacing);
    }
}
