<div class="Padder @(Sizing.ToString()) @SideToClassList">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Sizing Sizing { get; set; } = Sizing.Md;

    [Parameter]
    public Side Sides { get; set; } = Side.All;

    public string SideToClassList
    {
        get
        {
            List<Side> sides = [];
            if (Sides.HasFlag(Side.Top)) sides.Add(Side.Top);
            if (Sides.HasFlag(Side.Bottom)) sides.Add(Side.Bottom);
            if (Sides.HasFlag(Side.Left)) sides.Add(Side.Left);
            if (Sides.HasFlag(Side.Right)) sides.Add(Side.Right);
            return string.Join(" ", sides);
        }
    }
}
