@import "../Styles/Root.scss";

.Paper {
    box-shadow: $shadow;

    &.Xxs {
        border-radius: $spacing * .25;
    }

    &.Xs {
        border-radius: $spacing * .5;
    }

    &.Sm {
        border-radius: $spacing * .75;
    }

    &.Md {
        border-radius: $spacing;
    }

    &.Lg {
        border-radius: $spacing * 2;
    }

    &.Xl {
        border-radius: $spacing * 3;
    }

    &.Xxl {
        border-radius: $spacing * 4;
    }

    &.DisableShadow {
        box-shadow: unset;
    }

    &.Layer0 {
        @include setBackgroundColor($colorLayer0);
    }

    &.Layer1 {
        @include setBackgroundColor($colorLayer1);
    }

    &.Layer2 {
        @include setBackgroundColor($colorLayer2);
    }

    &.Layer3 {
        @include setBackgroundColor($colorLayer3);
    }
}
