@import "../Styles/Root.scss";

.Placeholder {
    display: block;
    position: relative;

    input {
        color: transparent;
        transition-property: color;
    }

    &.compact {
        > span {
            top: .5rem;
        }

        input {
            padding: .5em 1rem;
        }
    }

    > span {
        background-color: $currentBackgroundColor;
        position: absolute;
        pointer-events: none;
        display: block;
        z-index: 1;
        line-height: 1.5em;
        transition-property: top, left, font-size, color, padding, transform;
        color: $colorFont05;
        font-size: 1rem;
        top: 1rem;
        left: 1rem;
    }

    &.active {
        input {
            color: currentColor;
        }

        > span {
            $padding: .25rem;
            top: 0;
            left: calc(1rem - $padding);
            font-size: .75rem;
            padding: 0 $padding;
            transform: translateY(-50%);
        }

        &.error {
            > span {
                color: $colorError;
            }
        }
    }

    &:focus-within {
        > span {
            color: $colorFont;
        }
    }
}
