
<div class="SimpleListContainer">
    <VStack Sizing="Sizing.Xxs">
        @ChildContent
    </VStack>
</div>

@code {
    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}