@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using Microsoft.Extensions.DependencyInjection
@inject IServiceProvider ServiceProvider

<button type="button" class="SimpleInputToggle RippleEffect" @onclick="() => ToggleOption()" disabled="@Disabled">
    <HStack HeightAlignment="HeightAlignment.Stretch">
        <StackWeight>
            <HStack HeightAlignment="HeightAlignment.Center">
                <VStack Sizing="Sizing.Xs">
                    <DisplayName For="ValueExpression" Format="Format" />
                    @if (ChildContent is not null)
                    {
                        <div class="description">
                            @ChildContent
                        </div>
                    }
                </VStack>
            </HStack>
        </StackWeight>
        <StackWeight Weight="null">
            <div class="shell @(Value ? "active" : null)">
                <div class="bullet"></div>
            </div>
        </StackWeight>
    </HStack>
</button>

@code {
    [Parameter]
    public bool Value { get; set; } = default!;

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; } = default!;

    [Parameter]
    public Expression<Func<bool>>? ValueExpression { get; set; }

    [Parameter]
    public Func<string, string> Format { get; set; } = (str) => str;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private IInputFormatter? InputFormatter;

    protected override void OnInitialized()
    {
        InputFormatter = ServiceProvider.GetService<IInputFormatter>();
        Format = InputFormatter?.Format ?? Format;
    }

    private async Task ToggleOption()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    }
}
