@import "../Styles/Root.scss";

.StackWeight {
    flex: var(--weight);
    display: inherit;
    flex-direction: column;
}

.HStack {
    &.Stretch {
        .StackWeight {
            > * {
                flex: 1;
            }
        }
    }
}
