@using System.ComponentModel.DataAnnotations

<VStack>
    <SimpleInputText @bind-Value="username" />
    <SimpleButton OnClick="OpenDrawer">Open drawer</SimpleButton>
</VStack>

<Drawer @ref="drawer">
    <Pad>
        <VStack>
            <h1>A simple example</h1>
            <SimpleInputText @bind-Value="username" />
        </VStack>
    </Pad>
</Drawer>

@code {
    private Drawer drawer = null!;

    [Display(Name = "Username")]
    private string username { get; set; } = "Username example";

    private void OpenDrawer()
    {
        drawer.Open();
    }
}
