@import "../../Styles/Root.scss";

$spacing: 2rem;
$sideMenuSize: 16rem;

.page {
    min-height: 100vh;
    display: flex;

    aside {
        width: $sideMenuSize;
        min-width: $sideMenuSize;
        border-right: 1px dashed $colorTintFaint;

        .SlinkyScroll {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .NavMenu {
            flex: 1;
        }
    }

    > div {
        flex: 1;

        main {
            padding: $spacing;
            /*max-width: $width;*/
            margin: 0 auto;
        }
    }
}

.sideMenuButton {
    display: none;
}

@mixin smallWidth() {
    .page {
        margin-left: -$sideMenuSize;
        transition-property: transform;

        aside {
            position: relative;
            z-index: 2;
            background-color: $colorBackground;
            transition-property: transform;
            border-right: unset;

            &.toggle {
                display: initial;
                transform: translateX($sideMenuSize);
            }
        }
    }

    .backdrop {
        position: fixed;
        left: 0;
        top: 0;
        /*opacity: .5;*/
        z-index: 1;
        height: 100vh;
        width: 100%;
        transition-property: pointer-events, visibility, background-color, backdrop-filter;
        pointer-events: none;
        visibility: hidden;
        background-color: transparent;
        backdrop-filter: blur(0);

        &.toggle {
            display: initial;
            pointer-events: initial;
            visibility: visible;
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(.25rem);
        }
    }
}

.useSmall {
    @include smallWidth;
}

@media only screen and (max-width: 116rem) {
    @include smallWidth;

    .sideMenuButton {
        display: initial;
    }
}

.ThemeSwitcher {
    border-radius: $radius;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;

    &:before {
        font-family: "Material Symbols Rounded";
        content: "light_mode";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.dark:before {
        content: "dark_mode";
    }
}

.ThemeSwitcherRipple {
    position: fixed;
    border-radius: 50%;
    padding-top: 0;
    transform: translate(-50%, -50%);
    width: 0;
    background-color: $colorBackgroundLight;
    animation-fill-mode: both;
    animation-name: ThemeSwitcherRipple;
    animation-duration: .5s;
    transition-duration: .5s;
    transition-property: background-color;
    opacity: 0;
    z-index: 100;

    &.dark {
        background-color: $colorBackgroundDark;
    }

    &.release {
        background-color: transparent;
        pointer-events: none;
    }
}

@keyframes ThemeSwitcherRipple {
    to {
        transform: translate(-50%, -50%) scale(var(--extraSizing));
        width: 100%;
        padding-top: 100%;
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}
