<nav class="nav">
    <Pad>
        <VStack>
            @foreach (var navLink in navLinks)
            {
                <NavLink href="@navLink.Value">
                    <SimpleButton>
                        <Flexer Horizonal="HorizonalDirection.SpaceBetween" VerticalAlignment="VerticalAlignment.Middle">
                            <div>
                                <span>@navLink.Key</span>
                            </div>
                            <div>
                            </div>
                        </Flexer>
                    </SimpleButton>
                </NavLink>
            }
        </VStack>
    </Pad>
</nav>

@code {
    private Dictionary<string, string> navLinks = new()
    {
        { "Home", "" },
        { "Banner", "banner" },
        { "Drawer", "drawer" },
        { "Modal", "modal" },
        { "Chip", "chip" },
        { "SimpleSelect", "select" },
    };
}
