<nav class="nav">
    <Pad>
        <Gapper>
            <NavLink href="">
                <GalButton>
                    <Flexer Horizonal="HorizonalDirection.SpaceBetween" VerticalAlignment="VerticalAlignment.Middle">
                        <div>
                            <span>Home</span>
                        </div>
                        <div>
                        </div>
                    </Flexer>
                </GalButton>
            </NavLink>

            <NavLink href="banner">
                <GalButton>
                    <Flexer Horizonal="HorizonalDirection.SpaceBetween" VerticalAlignment="VerticalAlignment.Middle">
                        <div>
                            <span>Banner</span>
                        </div>
                        <div>
                        </div>
                    </Flexer>
                </GalButton>
            </NavLink>

            <NavLink href="drawer">
                <GalButton>
                    <Flexer Horizonal="HorizonalDirection.SpaceBetween" VerticalAlignment="VerticalAlignment.Middle">
                        <div>
                            <span>Drawer</span>
                        </div>
                        <div>
                        </div>
                    </Flexer>
                </GalButton>
            </NavLink>

            <NavLink href="modal">
                <GalButton>
                    <Flexer Horizonal="HorizonalDirection.SpaceBetween" VerticalAlignment="VerticalAlignment.Middle">
                        <div>
                            <span>Modal</span>
                        </div>
                        <div>
                        </div>
                    </Flexer>
                </GalButton>
            </NavLink>
        </Gapper>
    </Pad>
</nav>

