<nav class="nav">
    <Pad>
        <VStack Sizing="Sizing.Sm">
            @foreach (var navLink in navLinks)
            {
                <NavLink href="@navLink.Value">
                    <SimpleButton Style="Style.Clear" Size="Size.Large">
                        <HStack StackBehaviour="StackBehaviour.Left">
                            <StackWeight Weight="null">
                                <span>@navLink.Key</span>
                            </StackWeight>
                        </HStack>
                    </SimpleButton>
                </NavLink>
            }
        </VStack>
    </Pad>
</nav>

@code {
    private Dictionary<string, string> navLinks = new()
    {
        { "Home", "" },
        { "Banner", "banner" },
        { "Drawer", "drawer" },
        { "Modal", "modal" },
        { "Chip", "chip" },
        { "SimpleSelect", "select" },
        { "Badge", "badge" },
        { "Stacks", "stacks" },
        { "Lightbox", "lightbox" },
        { "Snackbar", "snackbar" },
        { "Context Menu", "contextmenu" },
        { "File Collection", "filecollection" },
        { "Progress", "progress" },
    };
}
