@page "/badge"
@using Website.Components.Examples.Badge
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>Badge</PageTitle>

<h1>Badge</h1>
<ExampleWrapper Folder="@(nameof(Badge))" Type="typeof(BadgeExample)" />
<ExampleWrapper Folder="@(nameof(Badge))" Type="typeof(BadgePositionExample)" />

@code {
    private string GetCodeBlock<T>() => File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", nameof(Badge), $"{typeof(T).Name}.razor"));
}
