@page "/banner"
@using Website.Components.Examples.Banner
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>Banner</PageTitle>

<h1>Banner</h1>

@{
    string[] files = Directory.GetFiles(Path.Combine(Env.ContentRootPath, "Components", "Examples", this.GetType().Name), "*.razor", SearchOption.AllDirectories);

    foreach (var file in files)
    {
        var fileName = Path.GetFileNameWithoutExtension(file);
        var typeString = $"Website.Components.Examples.{GetType().Name}.{fileName}";
        @if (Type.GetType(typeString) is { } type)
        {
            <ExampleWrapper Folder="@(GetType().Name)" Type="type" />
        }
    }
}

@code {
    private string GetCodeBlock(string componentName) => File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", this.GetType().Name, $"{componentName}.razor"));
}
