@page "/chip"
@using Website.Components.Examples.Chip
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>Chip</PageTitle>

<h1>Chip</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(ChipExample)" />
