@page "/contextmenu"
@using Website.Components.Examples.ContextMenu
@using Website.Components.Shared

<PageTitle>Context Menu</PageTitle>

<h1>Context Menu</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(ContextMenuExample)" />
