@page "/drawer"
@using Website.Components.Examples.Drawer
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>Drawer</PageTitle>

<h1>Drawer</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(DrawerExample)" />
