@page "/drawer"
@using Website.Components.Examples.Drawer
@inject IWebHostEnvironment Env

<PageTitle>Drawer</PageTitle>

<h1>Drawer</h1>

<Paper>
    <Pad>
        <VStack Sizing="Sizing.Xl">
            <VStack>
                <StackWeight>
                    <DrawerExample />
                </StackWeight>
                <CodeBlock>@(GetCodeBlock<DrawerExample>())</CodeBlock>
            </VStack>
        </VStack>
    </Pad>
</Paper>

@code {
    private string GetCodeBlock<T>() => File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", nameof(Drawer), $"{typeof(T).Name}.razor"));
}
