@page "/"
@using Blazura.Models
@using System.ComponentModel.DataAnnotations
@using Website.Components.Examples
@using System.IO
@using System.Web
@inject IWebHostEnvironment Env

<PageTitle>Home</PageTitle>

<Clamp>
    <Padder Sides="Side.TopBottom" Sizing="Sizing.Xxl">
        <Gapper>
            <Paper>
                <Padder>
                    <Gapper>
                        <SimpleInputTextTemplate />
                        <CodeBlock>@File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", "SimpleInputTextTemplate.razor"))</CodeBlock>
                    </Gapper>
                </Padder>
            </Paper>
            <Paper>
                <Padder>
                    <Gapper Sizing="Sizing.Xl">
                        <h1 style="margin: unset;">Banner</h1>
                        <Gapper>
                            <Gapper>
                                <BannerTemplate />
                            </Gapper>
                            <CodeBlock>@File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", "BannerTemplate.razor"))</CodeBlock>
                        </Gapper>
                        <Gapper>
                            <Gapper>
                                <BannerColorExample />
                            </Gapper>
                            <CodeBlock>@File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", "BannerColorExample.razor"))</CodeBlock>
                        </Gapper>
                    </Gapper>
                </Padder>
            </Paper>
        </Gapper>
    </Padder>
</Clamp>

@code {
}
