@page "/modal"
@using Website.Components.Examples.Modal
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>Modal components</PageTitle>

<h1>Modal components</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(ModalExample)" />
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(DeleteModalExample)" />
