@page "/progress"
@using Website.Components.Examples.Progress
@using Website.Components.Shared

<PageTitle>Progress</PageTitle>

<h1>Progress</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(ProgressExample)" />
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(ProgressColorExample)" />
