@page "/SimpleInputToggle"
@using Website.Components.Examples.SimpleInputToggle
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>SimpleInputToggle</PageTitle>

<h1>SimpleInputToggle</h1>
<ExampleWrapper Folder="@(nameof(SimpleInputToggle))" Type="typeof(SimpleInputToggleExample)" />
