@page "/select"
@using Website.Components.Examples.SimpleSelect
@using Website.Components.Shared
@inject IWebHostEnvironment Env

<PageTitle>SimpleSelect</PageTitle>

<h1>SimpleSelect</h1>
<ExampleWrapper Folder="@(nameof(SimpleSelect))" Type="typeof(SelectExample)" />
<ExampleWrapper Folder="@(nameof(SimpleSelect))" Type="typeof(MultiSelectExample)" />

@code {
    private string GetCodeBlock<T>() => File.ReadAllText(Path.Combine(Env.ContentRootPath, "Components", "Examples", nameof(SimpleSelect), $"{typeof(T).Name}.razor"));
}
