@page "/snackbar"
@using Website.Components.Examples.Snackbar
@using Website.Components.Shared

<PageTitle>Snackbar</PageTitle>

<h1>Snackbar</h1>
<ExampleWrapper Folder="@(this.GetType().Name)" Type="typeof(SnackbarExample)" />
