<Gapper>
    <SimpleInputText @bind-Value="username" />
    <GalButton OnClick="OpenModal">Open modal</GalButton>
</Gapper>

<Modal2 @ref="modal">
    <h1>A simple example</h1>
    @username
</Modal2>

@code {
    private Modal2 modal = null!;

    private string username { get; set; } = string.Empty;

    private void OpenModal()
    {
        modal.Open();
    }
}
