@using System.ComponentModel.DataAnnotations

<VStack>
    <SimpleInputText @bind-Value="username" />
    <SimpleButton OnClick="OpenModal">Open modal</SimpleButton>
</VStack>

<Modal2 @ref="modal">
    <VStack>
        <h1>A simple example</h1>
        <SimpleInputText @bind-Value="username" />
    </VStack>
</Modal2>

@code {
    private Modal2 modal = null!;

    [Display(Name = "Username")]
    private string username { get; set; } = "Username example";

    private void OpenModal()
    {
        modal.Open();
    }
}
