@inject IWebHostEnvironment env

<Paper>
    <Pad>
        <HStack HeightAlignment="HeightAlignment.Stretch">
            <StackWeight Weight="2">
                <CodeBlock>@(GetCodeBlock())</CodeBlock>
            </StackWeight>
            <StackWeight Weight="1">
                <div>
                    <DynamicComponent Type="Type" />
                </div>
            </StackWeight>
        </HStack>
    </Pad>
</Paper>

@code {
    [Parameter, EditorRequired]
    public string Folder { get; set; }

    [Parameter, EditorRequired]
    public Type Type { get; set; }

    private string GetCodeBlock() => File.ReadAllText(Path.Combine(env.ContentRootPath, "Components", "Examples", Folder, $"{Type.Name}.razor"));
}