.SingleImageUploaderHelper {
	background-color: rgba(145, 158, 171, 0.08) !important;
	padding-top: calc(100% * 9 / 16) !important;
	position: relative;

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		opacity: .5;
	}
}

.SingleImageUploader {

	& + img {
		width: 100%;
		border-radius: .5rem;
	}
}
