name: Build, Test, & Pack

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_call:
    inputs:
      package_version:
        description: "Version to use for the package"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup dotnet 9
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9

      - name: Install dependencies
        run: dotnet restore

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Build
        run: dotnet build --no-restore

      - name: Test with the dotnet CLI
        run: dotnet test --no-build

      - name: Set VERSION variable
        run: |
          VERSION=${{ inputs.package_version || 'v0.0.0' }}
          echo Version: $VERSION
          echo "VERSION=${VERSION#v}" >> $GITHUB_ENV

      - name: Pack
        run: dotnet pack --configuration Release --output ./artifacts -p:PackageVersion=${VERSION}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: package
          path: ./artifacts
